<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group" >
      <label for="userName" >User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && 
          (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input (ngModel)="userName" name="userName" required id="userName"
        type="text" class="form-control" placeholder="User Name..."/>
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.passWord?.invalid && 
          (loginForm.controls.passWord?.touched || mouseoverLogin)" >Required</em>
      <input id="password" (ngModel)="password" name="passWord" 
        type="password" class="form-control"placeholder="Password..." required/>
    </div>
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
    </span>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
  <span></span>
</div>
